
#enviar {
    margin-top: 15px;
    background-color: blue;
    color: white;
    margin: 0px auto;
}
    
#enviar-2{
    margin-top: 10px;
    background-color: blue;
    color: white;
    margin: 0px auto;
    text-align: center;
    
}
#botones{
    margin-top: 15px;
    width: 600px;
    
}
.container{
    margin: 0px auto;
    width: 600px;
    height: 600px;
}
#texto{
    margin: 15px;
    height: 120px;
    width: 400px;
}
